---
layout: layouts/collection.njk
title: Chuyện Chị Em
collectionName: Chuyện chị em
permalink: /tags/chuyen-chi-em/
description: Tâm sự về những chuyện thường ngày của chị em phụ nữ, và cách tiếp cận nhẹ nhàng tự nhiên về các vấn đề cuộc sống.
eleventyNavigation:
  key: Góc Chị Em
  order: 4
---
