---
layout: layouts/collection.njk
title: Góc Chị Em
collectionName: Chuyện chị em
permalink: /tags/chuyen-chi-em/
description: Chuyện đời, chuyện nghề của phụ nữ
eleventyNavigation:
  key: Góc Chị Em
  order: 4
---
