.pagination {
  margin: 3rem 0;
  text-align: center;
}

.pagination ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.pagination li {
  margin: 0;
}

.pagination a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-gray-50);
  border-radius: 0.25rem;
  text-decoration: none;
}

.pagination a[aria-current='page'] {
  background-color: var(--color-primary);
  color: white;
}
