---
layout: layouts/home.njk
pagination:
  data: collections.posts
  size: 15
  reverse: true
  alias: posts
permalink: "{% if pagination.pageNumber == 0 %}/{% else %}/page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% if pagination.pages.length > 1 %}
<nav class="m-pagination">
	<div class="pagination-previous">
		{% if pagination.href.previous %}
		<a href="{{ pagination.href.previous }}">
			<span class="icon-arrow-left"></span> Trang trước
		</a>
		{% endif %}
	</div>

	<div class="pagination-pages">
		{% for pageNumber in pagination.pages %}
		{% set pageHref = pagination.hrefs[ loop.index0 ] %}
		<a href="{{ pageHref }}"{% if page.url == pageHref %} aria-current="page"{% endif %}>
			{{ loop.index }}
		</a>
		{% endfor %}
	</div>

	<div class="pagination-next">
		{% if pagination.href.next %}
		<a href="{{ pagination.href.next }}">
			Trang sau <span class="icon-arrow-right"></span>
		</a>
		{% endif %}
	</div>
</nav>
{% endif %}
