---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - nav
    - Nuôi dạy con
    - Review
    - Chuyện chị em
  addAllPagesToCollections: true
layout: layouts/tag.njk
eleventyComputed:
  title: "{{ tag }}"
permalink: /tag/{{ tag | slugify }}/
---
