<footer class="m-footer">
	<div class="m-footer__content">
		<div class="m-footer-copyright">
			<p>
				<span>{{ metadata.title }} &copy; {{ "" | currentYear }}</span>
				<span>&nbsp; &bull; &nbsp;</span>
				<span>Published with <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a></span>
			</p>
		</div>
		<nav class="m-footer-social">
			{% if metadata.facebook %}
			<a href="{{ metadata.facebook }}" target="_blank" rel="noopener" aria-label="Facebook">
				<span class="icon-facebook"></span>
			</a>
			{% endif %}
			{% if metadata.twitter %}
			<a href="{{ metadata.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">
				<span class="icon-twitter"></span>
			</a>
			{% endif %}
		</nav>
	</div>
</footer>
