---
eleventyNavigation:
  key: Góc Nuôi Dạy Con
  order: 1
layout: layouts/home.njk
title: Góc Nuôi Dạy Con
permalink: /tags/nuoi-day-con/
---
<h1>{{ title }}</h1>

{% set postslist = collections['Nuôi dạy con'] %}
{% include "postslist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
