<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{#- Atom and JSON feeds included by default #}
	<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
	<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

	{#- Google Fonts #}
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Serif+4:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">

	{#- Theme CSS #}
	<link rel="stylesheet" type="text/css" href="/theme/css/app.css">
	<link rel="stylesheet" type="text/css" href="/theme/css/custom.css">
	{% block styles %}{% endblock %}

	{#- Inline font-face for icomoon icons #}
	<style>
		@font-face {
			font-family: 'icomoon';
			font-weight: normal;
			font-style: normal;
			font-display: swap;
			src: url("/theme/fonts/icomoon/icomoon.eot?vukg2s");
			src: url("/theme/fonts/icomoon/icomoon.eot?vukg2s#iefix") format('embedded-opentype'),
			url("/theme/fonts/icomoon/icomoon.ttf?vukg2s") format('truetype'),
			url("/theme/fonts/icomoon/icomoon.woff?vukg2s") format('woff'),
			url("/theme/fonts/icomoon/icomoon.svg?vukg2s#icomoon") format('svg');
		}
	</style>

	{% block head %}{% endblock %}
</head>
<body class="{{ bodyClass or '' }}">
	{#- Header #}
	{% include "partials/header.njk" %}

	{#- Main content #}
	<main class="main-wrap">
		{{ content | safe }}
	</main>

	{#- Search modal #}
	{% include "partials/search.njk" %}

	{#- Footer #}
	{% include "partials/footer.njk" %}

	{#- Scripts #}
	<script defer src="/theme/js/manifest.js"></script>
	<script defer src="/theme/js/vendor.js"></script>
	<script defer src="/theme/js/app.js"></script>
	{% block scripts %}{% endblock %}
</body>
</html>
