---
layout: layouts/base.njk
bodyClass: post-template
---
{% block styles %}
<link rel="stylesheet" type="text/css" href="/theme/css/post.css">
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{% endblock %}

{#- Hero section with feature image #}
{% if feature_image %}
<section class="m-hero with-picture">
	<div class="m-hero__picture in-post" style="background-image: url({{ feature_image }});"></div>
</section>
{% endif %}

<article>
	<div class="l-content in-post">
		<div class="l-wrapper in-post {% if not feature_image %}no-image{% endif %}">
			<div class="l-post-content">
				<header class="m-heading">
					<h1 class="m-heading__title in-post">{{ title }}</h1>
					<div class="m-heading__meta">
						{% set primaryTag = tags | filterTagList | first %}
						{% if primaryTag %}
						<a href="/tags/{{ primaryTag | slugify }}/" class="m-heading__meta__tag">{{ primaryTag }}</a>
						<span class="m-heading__meta__divider" aria-hidden="true">&bull;</span>
						{% endif %}
						<span class="m-heading__meta__time">{{ page.date | readableDate("dd/LL/yyyy") }}</span>
					</div>
				</header>

				<div class="pos-relative js-post-content">
					{#- Share buttons #}
					<div class="m-share">
						<div class="m-share__content js-sticky">
							<a href="https://www.facebook.com/sharer/sharer.php?u={{ metadata.url }}{{ page.url }}"
								class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Facebook">
								<span class="icon-facebook" aria-hidden="true"></span>
							</a>
							<a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}&url={{ metadata.url }}{{ page.url }}"
								class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Twitter">
								<span class="icon-twitter" aria-hidden="true"></span>
							</a>
							<button class="m-icon-button filled in-share progress js-scrolltop" aria-label="Scroll to top">
								<span class="icon-arrow-top" aria-hidden="true"></span>
								<svg aria-hidden="true">
									<circle class="progress-ring__circle js-progress" fill="transparent" r="0" />
								</svg>
							</button>
						</div>
					</div>

					{#- Post content #}
					<div class="post-content">
						{{ content | safe }}
					</div>

					{#- Tags list #}
					{% set postTags = tags | filterTagList %}
					{% if postTags.length > 0 %}
					<section class="m-tags in-post">
						<h3 class="m-submenu-title">Tags</h3>
						<ul>
							{% for tag in postTags %}
							<li>
								<a href="/tags/{{ tag | slugify }}/" title="{{ tag }}">{{ tag }}</a>
							</li>
							{% endfor %}
						</ul>
					</section>
					{% endif %}
				</div>
			</div>
		</div>

		{#- Author section #}
		<section class="m-author">
			<div class="m-author__content">
				<div class="m-author__picture">
					<a href="/gioi-thieu/" class="m-author-picture" aria-label="{{ metadata.author.name }}">
						{% if metadata.author.image %}
						<div style="background-image: url({{ metadata.author.image }});"></div>
						{% else %}
						<div style="background-image: url(/theme/images/default-avatar-square-small.jpg);"></div>
						{% endif %}
					</a>
				</div>
				<div class="m-author__info">
					<h4 class="m-author__name">
						<a href="/gioi-thieu/">{{ metadata.author.name }}</a>
					</h4>
					{% if metadata.author.bio %}
					<p class="m-author__bio">{{ metadata.author.bio }}</p>
					{% endif %}
					<ul class="m-author-links">
						{% if metadata.author.website %}
						<li>
							<a href="{{ metadata.author.website }}" target="_blank" rel="noopener" aria-label="Website">
								<span class="icon-globe" aria-hidden="true"></span>
							</a>
						</li>
						{% endif %}
						{% if metadata.author.facebook %}
						<li>
							<a href="https://facebook.com/{{ metadata.author.facebook }}" target="_blank" rel="noopener" aria-label="Facebook">
								<span class="icon-facebook" aria-hidden="true"></span>
							</a>
						</li>
						{% endif %}
						{% if metadata.author.twitter %}
						<li>
							<a href="https://twitter.com/{{ metadata.author.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">
								<span class="icon-twitter" aria-hidden="true"></span>
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</section>

		{#- Related posts (recommended) #}
		{% if collections.posts %}
		{% set relatedPosts = collections.posts | withoutDrafts | head(3) %}
		{% if relatedPosts.length > 0 %}
		<section class="m-recommended">
			<div class="l-wrapper in-recommended">
				<h3 class="m-section-title in-recommended">Bài viết liên quan</h3>
				<div class="m-recommended-articles">
					<div class="l-grid centered">
						{% for relatedPost in relatedPosts %}
						{% if relatedPost.url != page.url %}
						{% set post = relatedPost %}
						{% include "partials/article-card.njk" %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		{% endif %}
		{% endif %}
	</div>
</article>
